/* change font */
@import "./fonts.css";

:root {
  --color-dark-page: #2B2D38;
  --color-pink: #DB2A6B;
  --color-pink-hover: #c73c6f;
  --color-purple: #6E1FED;
  --color-cyan: #60D3D9;
  --color-orange: #FF7E29;
  --color-yellow: #F4B840;
  --color-gray-tr: #ffffff90;
}

/* formated */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-dark-page);
  font-family: 'Poppins',  monospace;
  font-weight: 400;
  font-size: .95rem;
  color: var(--color-gray-tr);
}


/* === HEADER === */
.header-page {
  width: 100%;
  padding-block: 1.5rem;
  max-width: 1250px;
  margin-inline: auto;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
}

.logo a {
  color: var(--color-pink);
  font-size: 1.5rem;
  font-family: 'Merriweather', sans-serif;
  font-weight: 500;
  & span {
    color: white;
  }
}


.list-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & a {
    color: var(--color-gray-tr);
    position: relative;
    transition: color 200ms ease-in-out;
    padding-bottom: .5rem;

    &:hover {
      color: white;

      &::before {
        width: 80%;
      }
    }

    &::before {
      transition: width 200ms ease-in-out;
      content: "";
      width: 0%;
      height: 3px;
      border-radius: 999px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--color-pink);
    }

  }
}

/* === HERO === */
main {
  position: relative;
}

.container-hero {
  position: absolute;
  inset: 0;
  width: 100%;
  max-width: 1250px;
  margin-inline: auto;
  height: 100dvh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

/* title */
.content-info h1{
  color: white;
  font-family: "Merriweather";
  font-size: 3.2rem;
  text-wrap: balance;
  margin-bottom: 1rem;
  /* font-weight: 600; */
}

.content-info > article {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;
}
.content-info > article div {
  display: flex;
  gap: 1rem;
}
.content-info > article div figure {
  background-color: #ffffff20;
  border-radius: .65rem;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-info > article div figure img {
  width: 100%;
  max-width: 24px;
  aspect-ratio: 1/1;
}

.content-info > article p{
  width: 90px;
  font-size: .9rem;
  color: white;
}


/* buttons */
.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;

  & button {
    cursor: pointer;
    background-color: transparent;
    color: white;
  }
}

.buttons button:first-child {
  background-color: var(--color-pink);
  border-radius: 15px 15px 15px 0px;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 200px;
  transition: transform 175ms ease-in-out, background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--color-pink-hover);
    transform: scale(.9);
  }

}
.buttons button:last-child {
  display: flex;
  align-items: center;
  gap: .75rem;
  
  &:hover img {
    transform: rotate(-45deg);
  }
  
  & img {
    transition: transform 200ms ease-in-out;
    width: 28px;
  }
  
  

}

/* grid-images */
.content-images {
  display: grid;
  grid-template-areas: 
  "user-1 user-3 user-5"
  "user-1 user-4 user-5"
  "user-2 user-4 user-5"
  ;
  /* place-content: center; */
  gap: 1.1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;

  width: 75%;
  aspect-ratio: 1/1;
  margin-top: 2rem;
}

.content-images figure{
  position: relative;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 100%;
  overflow: hidden;
}
.content-images figure img {
  scale: .6;
  
}

/* figures */
.content-images figure:first-child {
  grid-area: user-1;
  background-color: var(--color-purple);

  & img {
    scale: .9;
    padding-top: 12rem;
  }
}
.content-images figure:nth-child(2) {
  grid-area: user-2;
  background-color: var(--color-pink);

  & img {
    padding-top: 17rem;
  }
}
.content-images figure:nth-child(3) {
  grid-area: user-3;
  background-color: var(--color-cyan);

  & img {
    padding-top: 17rem;
  }
}
.content-images figure:nth-child(4) {
  grid-area: user-4;
  background-color: var(--color-orange);
}
.content-images figure:last-child {
  grid-area: user-5;
  height: 66%;
  align-self: center;
  background-color: var(--color-yellow);

  & img {
    scale: .6;
  }
}

/* circles decoration */

.circle-big, .circle-small {
  position: fixed;
  z-index: -10;
  border-radius: 999999px;
  border: 2px solid #ffffff10;
  aspect-ratio: 1/1;
  right: -5%;
  bottom: -30%;
}

.circle-big {
  width: 700px;
}
.circle-small {
  width: 475px;
}